<div class="layout">
  <div class="left-page">
    <div class="app-container">
      <h1 class="title">
        What is LifeAppliance?
      </h1>
      <h2 class="subtitle">
        Life appliance is the next level of your user experience on your social media.
      </h2>
      <h2 class="title">How?</h2>
      <h3 class="subtitle">
        By creating a platform that can put all your social media contents in one place or one app.
      </h3>
    </div>
  </div>
  <div class="right-page about-page-image" id="treeLeaves">
    <div class="app-container">
    </div>
  </div>
</div>