<section class="hero is-fullheight">

  <div class="header">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a href="#" class="nav-item">
            <%= image_tag("logo/android-icon-96x96.png" , class: 'logo') %>
          </a>
        </div>
        <span class="nav-toggle">
          <span>Home</span>
          <span>About us</span>
          <span>Explore</span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item is-active">
            Home
          </a>
          <a class="nav-item">
            About us
          </a>
          <a class="nav-item">
            Explore
          </a>
          <span class="nav-item">
            <%= link_to("Sign in", new_user_session_url ,class:'button is-success is-inverted') %>
          </span>
          <span class="nav-item">
            <%= link_to("Sign up", new_user_registration_url ,class:'button is-success is-inverted') %>
          </span>
        </div>
      </div>
    </header>
    <div class="content"></div>
    <div class="background-gradient"></div>
  </div>
</section>

