<div class="layout">
  <div class="post-intro">
    <div class="header">
      <div class="background-gradient"></div>
    </div>
  </div>
  <div class="login">
    <div class="login-panl">

      <p class="title is-2">Discover the easiest way to manage
        your social network</p>

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="Your email address">
          <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="password" placeholder="Password">
          <span class="icon is-small is-left">
          <i class="fa fa-eye-slash" aria-hidden="true"></i>
        </p>
      </div>
      <div class="block">
        <a class="button button-SignIn is-primary">Sign In</a>
        <a class="button button-SignUp is-success is-outlined">Sign Up</a>
      </div>
      <a href="#">Forget password</a>
    </div>
  </div>
</div>