<div class="header">
<header class="nav">
  <div class="container">
    <div class="nav-left">
      <a href="#" class="nav-item">
        <%= image_tag("logo/android-icon-96x96.png" , class: 'logo') %>
      </a>
    </div>
      <% if user_signed_in? %>
          <span class="nav-item">
            <%= link_to('Logout', destroy_user_session_path, method: :delete ,class:'button is-success') %>
          </span>
      <% else %>
          <span class="nav-item">
                <%= link_to("Sign in", new_user_session_url ,class:'button is-success is-inverted') %>
          </span>
          <span class="nav-item">
                <%= link_to("Sign up", new_user_registration_url ,class:'button is-success is-inverted') %>
          </span>
      <% end %>
    </div>
  </div>
</header>
  <div class="card demo">
    <div class="card-content">
      <p class="title">
        please logout the system is on developer-mode and won't respond to you as soon that system is back we are going to notify your via email.
      </p>
    </div>
  </div>
</div>