<section class="hero is-danger is-bold is-fullheight">
  <div class="hero-body">
    <div class="app-container">
      <h1 class="title">
        Ops!!404
      </h1>
      <h2 class="subtitle">
        The server has not found anything matching the Request
      </h2>
    </div>
  </div>
</section>