// Place all the styles related to the wellcome controller here.
// They will automatically be included in application.scss.erb.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  flex-grow: 1;
  background-image: url("Background.jpg");
  height: 100vh;
  background-size: cover;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.content {
  position: relative;
  transform: rotate(15deg);
  height: 200vh;
  width: 400vh;
  margin-top: -100px;
  margin-left: 450px;
  z-index: 3;
  background-color: #FFF;
  overflow: hidden;
}

.body .side-bar {
  width: 160px;
}

.background-gradient {
  z-index: 2;
  position: absolute;
  background: -moz-linear-gradient(45deg, rgba(0, 195, 255, 0.45) 0%, rgba(255, 255, 28, 0.45) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(0, 195, 255, 0.45) 0%, rgba(255, 255, 28, 0.45) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(0, 195, 255, 0.45) 0%, rgba(255, 255, 28, 0.45) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200vh;
  height: 200vh;
  overflow: hidden;
}

.logo {
  height: 65px;
}

/*For login page*/

.layout {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.layout .login {
  height: 100vh;
  width: 50%;
  position: relative;
}

.login .login-panl{
  width: 300px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.layout .post-intro {
  flex-grow: 1;
  height: 100vh;
  width: 50%;
  background-color: #212121;
}

.button-SignIn,
.button-SignUp{
  width: 49%;
}


